@import "./scss_variabales";

.close-button {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.input {
    width: -webkit-fill-available;
    border: none;
    border-bottom: 2px solid $border-color;
    font-size: 16px;
    padding: 10px 0 4px;
}
.input:focus-visible {
    outline: none;
}
.input-container{
    display: flex;
}
.total-container{
    display: flex;
    justify-content: space-between;
}
.modal-body-container{
    width: inherit;
    overflow: auto;
}
.modal-wallet{
    height: 90%;
    width: 90%;
}
.wallet-li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
}
.wallet-ul{
    margin: 0;
    padding: 0;
}
.wallet-total-container{
    display: flex;
    justify-content: space-between;
}
.total-p{
    text-transform: uppercase;
    font-weight: 600;
}
.remove-crypto-button{
    cursor: pointer;
	font-size: 25px;
	font-weight: 600;
	color: $svg-color;
	display: flex;
	align-items: center;
}
.remove-crypto-button :hover {
	color: $svg-color-hover;
}
