@import "../../design-tokens/scss_variabales";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10vw;
    padding: 0 15px;
    background: $second-color;
}
.rank-crypto {
    width: 60%;
    display: flex;
}
.rank-crypto-p{
    padding-right: 3%;
}
.wallet-button {
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    color: $svg-color;
}
.wallet-button :hover {
    color: $svg-color-hover;
}
.wallet {
    display: flex;
    align-items: center;
}
.wallet-p {
    padding-right: 10px;
    font-size: 20px;
}
