@import "../../design-tokens/scss_variabales";

.table {
	width: 80%;
	border: none;
	margin: 0 10%;
}
.table-header th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: $primary-color;
	font-size: 14px;
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;
}
.table-row {
	cursor: pointer;
}
.table-row:hover {
	background: $border-color !important;
}
.table-row td {
	text-align: left;
	vertical-align: center;
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;
	padding: 10px 15px;
	font-size: 14px;
}

.table tbody tr:nth-child(even) {
	background: $second-color;
}
.td-whith-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.add-crypto-button {
	cursor: pointer;
	font-size: 25px;
	font-weight: 600;
	color: $svg-color;
	display: flex;
	align-items: center;
}
.add-crypto-button :hover {
	color: $svg-color-hover;
}
